<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "/Users/liutao/project/githubs_my/py_mybatis/py_mybatis_demos/demo1/mybatis_config/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
    <select id="selectById" resultType="map">
        select * from user1 where id = #{id}
    </select>

    <select id="selectList" resultType="map">
        select * from user1
    </select>

    <select id="selectId" resultType="int">
        select id from user1 where id = #{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user1 ( username ) values ( #{username} )
    </insert>

    <insert id="updateUser">
        update user1 set username=#{username} where id = #{id}
    </insert>

    <select id="selectPage_count" resultType="int">
        select count(1) from user1
    </select>

    <select id="selectPage_list" resultType="map">
        select * from user1 limit #{offset}, #{limit}
    </select>

</mapper>